.cardStyle{
    width: 18rem !important;
    border: 5 !important;
    display: inline-block !important;
}
.cardElement{
    padding: 12px 40px;
}
#btn1-css{
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#btn2-css{
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
} 
#btn2-css:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
} 
#btn2-css:active {
    background-color: rgb(255, 56, 86);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}